.header-container {
  background-color: #46464c;
}

.header-text {
  padding: 40px;
  color: #fff;
  text-align: center;
}

.body-container,
.footer-container {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
}
.body-container {
  justify-content: center;
  align-items: center;
  display: block;
}
.airdrop-container {
  padding-bottom: 40px;
  padding-top: 40px;
  max-width: 720px;
  margin: 0 auto;
}
.airdrop-label {
  color: #1e3548;
  text-align: start;
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.footer-container {
  margin-top: 36px;
  margin-bottom: 36px;
  padding-top: 40px;
  color: #1e3548;
  text-align: center;
  width: 100%;
}

.footer-trademark {
  font-size: 1rem;
}
